<h2>Book detail</h2>
 <table class = "table"></table>
  <tbody>
   <tr>
    <td>
     Noimage   
    </td>
    <td>
     Book detail   
    </td>
    <td>
     より良いコードを書くためのシンプルで実践的なテクニック。   
    </td>
   </tr>
  </tbody>